[mysqld]
#default_collation_for_utf8mb4= "STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
character_set_server=utf8mb4
collation_server=utf8mb4_0900_ai_ci
default_authentication_plugin=mysql_native_password
